---
title: How do robots perceive
desc: Sensors of various kinds are essential to robotics
hwref: week3
slides: true
---
<%= include_topic :perceive %>

<slide_break></slide_break>

## Logistics

* Review of answers in previous idk's

## How do Robots Perceive?

* Sensors are essential
   * What is a sensor? <span class="question">Is a sensor an input or output device?</span>
   * What happens to the sensing information
   * How is it stored and detected and acted upon?

<slide_break></slide_break>

* Example: Lidar
   * What is a Lidar
   * What does it look like and how does it work?
   * "Time of travel" detector
   * What does the data look like? 
      * [Look here fore the message definition](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/LaserScan.html)
      * `rostopic echo --noarr -c /scan`
      * `roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch`

<slide_break></slide_break>

* Show code example of Lidar data: 
   * Jupyter Notebook: ScanData Logger
   * Start roscore, gazebo and rviz
      * `roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch`
      * `roslaunch turtlebot3_gazebo turtlebot3_gazebo_world.launch`
   * Also look at rqt_chart

<slide_break></slide_break>

* Subtleties:
   * What do the directions mean?
   * Are the directions absolute or relative?
   * What if the robot is not pointing to where you think?
   * Do they go clockwise or counterclockwise?
   * Lets look at the data!
   * It's not clean! (This is typical for all sensors)
   * It is not accurate!
   * It's sometimes wildly inaccurate
   * It is constantly flooding in

<slide_break></slide_break>

* Types of Sensors
   * Is a sensor an input or output device?
   * Is a keyboard a sensor?
   * Is a joystick a sensor?
   * Is a map a sensor?
   * Active Vs. Passive
   * Sensor Fusion

<slide_break></slide_break>

* Lidar
   * History
   * How it works
   * Key characteristics or features
   * What data it provides

<slide_break></slide_break>

* Motor (encoder)
   * How it works
   * Key characteristics or features
   * What data it provides

<slide_break></slide_break>

* Camera
   * How it works
   * Key Characteristics or features
   * What Data it provides

<slide_break></slide_break>

* Depth Camera
   * How it works
   * Key Characteristics or features
   * What data it provides

<slide_break></slide_break>

* Sonar
   * How it works
   * Key Characteristics or features
   * What data it provides

<slide_break></slide_break>

* Bump sensors
   * How it works
   * Key Characteristics or features
   * What data it provides

<slide_break></slide_break>

* Magnetometer, barometer, accelerometer
   * How it works
   * Key Characteristics or features
   * What data it provides

<slide_break></slide_break>

* GPS
   * How it works
   * Key Characteristics or features
   * What data it provides

<slide_break></slide_break>
