---
title: Last Day!
desc: Nothing Scheduled
homework: n/a
cat: Project
---
#### Informal

* **Final deliverables are due at 11:59** of December 16
* Details on Final Deliverables:  <%= link_to_topic :cosi119a_final_project %>!
* How is the preparation going for the final showcase?
* **Feedback on how to make the course better**: Open discussion of feedback on how to make the course better
* **Practice**: Who wants to present their current presentation to the class for feedback?

<div class="card text-white bg-secondary mt-5 mb-3 w-50 offset-md-2">
  <div class="card-body">
    <div class="h4 card-title">Everybody!!</div>
    <p class="card-text">Thanks for your contribution to the initial run of this new course. 
        And thank you for all your hard work! You can see that you've achieved a lot and learned a lot!</p>
    <p>And especially thanks to our TAs!</p>
  </div>
</div>
